### `Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [27]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

result = [[a, b] for a, b in zip(list1, list2)]
result

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [28]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)

In [29]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### `Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [35]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i in range(len(candy_list)):
    print(f"{candy_list[i]}->{no_of_items[i]}")

Jelly Belly->10
Kit Kat->20
Double Bubble->34
Milky Way->74
Three Musketeers->32

### `Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [38]:
list1 = [1,2,3,4,5,6]
b=0
list2=[]
for i in range(len(list1)):
    b+=list1[i]
    list2.append(b)

In [39]:
list2

[1, 3, 6, 10, 15, 21]

### `Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

### `Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [74]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
a = [i for i in num1 if i in num2]
a.sort()

In [75]:
a

[34, 67, 89]

### `Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [93]:
a = ['1ac21', '23fg', '456', '098d','1','kls']

Pehle hum ek function banate hain jo kisi bhi string mein numeric character ka product value nikalta hai. Agar koi numeric character nahi hai, toh function 1 return karega:

In [97]:
def get_product_value(s):
    product = 1
    for char in s:
        if char.isdigit():
            product *= int(char)
    return product

```sorted()``` function mein hum key parameter ka use karte hain, jisse hum custom sorting logic laga sakte hain.

```lambda x: (get_product_value(x), x)``` mein, pehle hum ```get_product_value(x)``` ka use karke numeric character ka product value nikaalte hain. Agar do strings mein product value same hai, toh hum unhe original string ke order mein sort karte hain.

In [98]:
input_list = ['1ac21', '23fg', '456', '098d', '1', 'kls']
sorted_list = sorted(input_list, key=lambda x: (get_product_value(x), x))
print(sorted_list)

['098d', '1', 'kls', '1ac21', '23fg', '456']

### `Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [23]:
a = ['CampusX is a channel', 'for data-science', 'aspirants.']
(" ".join(a)).split()

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [32]:
a = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
b = ["".join(i) for i in a]
" ".join(b)

'campux is best channel'

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```