This tutorial starts from 1hr 6 minute of campus x session 3

## Strings

string is a sequence of characters

In python specifically, strings are a sequence of Unicode Characters

How UNICODE came to be [LINK](https://docs.python.org/3/howto/unicode.html)

### Creating Strings

In [1]:
s = 'hello'
a = "Hello"
c = """Hello"""
s,a,c

('hello', 'Hello', 'Hello')

### Accessing Substring from a string

#### Indexing

***Positive indexing***

In [3]:
s = "Hello World"
print(s[2]), print(s[4])

l
o

(None, None)

```python
s = "Hello World"
#python internally will assign all the character an index, and it's called positive indexing
```

***Negative Indexing***

In [6]:
s = "Hello World"
s[-1], s[-4]

('d', 'o')

### Slicing

In [9]:
s = "Hello world"
s[1:5], s[2:6]

('ello', 'llo ')

#### Skipping a number

In [10]:
s[2:]

'llo world'

In [11]:
s[:3]

'Hel'

In [12]:
s[:]

'Hello world'

#### Step size

In [15]:
s[0:6:2] # going 0-6 index while skipping every 2nd index

'Hlo'

In [16]:
s[0:6:3]

'Hl'

***We can perform slicing using negative indexing as well***

In [18]:
s[6:0:-1] #This will print everything in reverse

'w olle'

In [19]:
s[6:0:-2]

'wol'

In [20]:
s[::-1]

'dlrow olleH'

In [21]:
s[-5:]

'world'

In [22]:
s[-1:-6:-1]

'dlrow'

### Editing and deleting in string

In [24]:
s = "hello world"

s[0] = "H"

TypeError: 'str' object does not support item assignment

***once we have created the string in python we cannot edit the string. Python strings are immutable***

***Deleting a string***

In [25]:
s = 'hello world'
del s

In [26]:
s

NameError: name 's' is not defined

In [27]:
s = 'hello world'
del s[-1:-5:2]
s

TypeError: 'str' object does not support item deletion

***Complete sting will get deleted but partial string will not get deleted***

### Operations on Strings

* Arthmetic Operation
* Relational Operations
* Logical Operations
* Loops on stirngs
* Membership Operations

#### Arhtmetic Operation

In arhtematic only `+` and  `*` works on string

In [29]:
s = 'delhi' + " " + 'mumbai'
s

'delhi mumbai'

In [30]:
s = 'delhi'*5

In [31]:
s

'delhidelhidelhidelhidelhi'

#### Relational operation

All relational operation works in pthon

In [32]:
'delhi' == 'mumbai'

False

In [33]:
'mumbai' > 'pune'

False

***yaha number of characters compare nhi ho rhe ham strings ko ***lexiographically(alphabatically)*** compare kr rhe hai***

In [35]:
'Pune'>'pune'

False

The `ASCII` value of Capital p(`P`) is smaller than small p(`p`)

#### Logical Operator

In [36]:
'hello' and 'world'

'world'

In [37]:
'hello' or 'world'

'hello'

in python internally any string that has any character then python considers it `True` and if it's empty then it's `False`

So replace any string with character as True and empty string as false

In [38]:
'' and 'world'

''

In [39]:
'' or 'world'

'world'

In [41]:
not 'hello'

False

#### loops on string

In [42]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [43]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [44]:
'D' in 'delhi'

False

### String Functions

Common Functions: These functions work on all data type

* len
* max
* min
* sorted

In [45]:
len("Hello World")

11

In [46]:
max("Hello World")

'r'

***`max` will print out the maximum character based on ASCII value***

In [47]:
min("Hello World")

' '

***`min` will do the same on the basis of ASCII value***
The minimum ASCII value in the provided text is of space

In [48]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

```python
sorted('hello world')
```
```
The following code actually shorts the string according to ASCII value
```

In [49]:
# We can sort it in negative order as well:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Following is the order of ASCII value:

In [51]:
a = sorted('AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz ')

In [53]:
print(a)

[' ', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

#### Functions that only work on string and no other data type

#### capitalize/title/upper/lower/awapcase

***Capitalize***

In [77]:
s = "hello world"
s.capitalize(),s

('Hello world', 'hello world')

***So the original string does not get's changed but instead creates a new copy of it***

***Title***

In [56]:
s.title()

'Hello World'

***upper***

In [57]:
s.upper()

'HELLO WORLD'

***lower***

In [59]:
s = "HELLO WORLD"
s.lower()

'hello world'

***swapcase***

In [60]:
"HeLlo WorlD".swapcase()

'hElLO wORLd'

#### Count/Find/Index

***Count***

In [62]:
"My namze is Tanzir".count('i')

2

***Find***

In [63]:
"My namze is Tanzir".find('is')

9

In [64]:
"My namze is Tanzir".find('x')

-1

In find -1 means that, that substring does not exists.

***index***

In [65]:
"My namze is Tanzir".index('x')

ValueError: substring not found

Index is same as find the only difference being that index actually throws the error.

#### Endswith/startswith/Format

***endswith***

In [68]:
"My namze is Tanzir".endswith('ir')

True

In [69]:
"My namze is Tanzir".endswith('er')

False

***startswith***

In [70]:
"My namze is Tanzir".startswith('ir')

False

In [74]:
"My namze is Tanzir".startswith('My')

True

***Format***

In [75]:
name = "Tanzir"
gender = "Male"

'Hi my name is {} and i am a {}'.format(name,gender)

'Hi my name is Tanzir and i am a Male'

in format order matter

#### isalnum/isalpha/isdigit/isidentifier

***isalnum***

In [78]:
'tanzir1234'.isalnum()

True

`isalnum` returns true if our string is made up of alphabets and numbers

In [79]:
'sdfsdv'.isalpha()

True

In [81]:
'8347837'.isdigit()

True

#### What is an Identifier

In Python, an identifier is a name used to identify a variable, function, class, module, or other object. It must follow these rules:

* It must start with a letter (a-z, A-Z) or an underscore (_).
* The rest of the string can contain letters, underscores, and digits (0-9).
* Identifiers are case-sensitive. This means myVariable and myvariable would be considered different identifiers.
* Keywords cannot be used as identifiers. For example, if, else, and while are reserved keywords and cannot be used as variable names.

***How Does isidentifier() Work?***
The isidentifier() method returns True if the string is a valid identifier, and False otherwise. Here's how you can use it:

```python
# Valid identifiers
print("variable".isidentifier())  # Output: True
print("_variable".isidentifier())  # Output: True
print("var123".isidentifier())     # Output: True

# Invalid identifiers
print("123variable".isidentifier())  # Output: False (starts with a digit)
print("var-iable".isidentifier())    # Output: False (contains a hyphen)
print("var iable".isidentifier())    # Output: False (contains a space)
print("".isidentifier())             # Output: False (empty string)
```

***Why Use isidentifier()?***


This method is useful when you are dealing with dynamic naming, such as generating variable names programmatically, or when validating input to ensure it adheres to Python's naming conventions.

In [83]:

'name1'.isidentifier()

True

In [84]:
'1name'.isidentifier()

False

#### split

In [85]:
'hi my name is tanzeer'.split()

['hi', 'my', 'name', 'is', 'tanzeer']

split() breaks the string on spaces by default and stores into a list

In [86]:
'hi my name is tanzeer'.split('i')

['h', ' my name ', 's tanzeer']

It can also break on some individual character

### Join

In [88]:
" ".join(['i', 'am', 'tanzeer'])

'i am tanzeer'

It joins stuff on something in above case it's space " "

In [89]:
"-".join(['i', 'am', 'tanzeer'])

'i-am-tanzeer'

### Replace

It replaces a perticlar substring

In [91]:
"i am tanzeer".replace('tanzeer','nida')

'i am nida'

### Strip

In [92]:
'tanzeer                       '.strip()

'tanzeer'

it removes all of the spaces

#### isdigit()

***isdigit() Method kya hai?***
* isdigit() ek string method hai jo tabhi True return karta hai jab string ke saare characters digits (0-9) hon.
* Agar string mein koi bhi non-digit character ho, toh yeh False return karta hai.
* Yeh method whitespace, letters, punctuation marks, etc. ko count nahi karta hai.

Syntax
```sql
string.isdigit()
```

* Yahaan string ek variable hai jismein text stored hai. Is method ko use karke hum check kar sakte hain ki us text mein sirf digits hain ya nahi.

```python
num = "12345"

if num.isdigit():
    print("This string contains only digits.")
else:
    print("This string contains non-digit characters.")
```

Output: `This string contains only digits.`

* Yahaan string "12345" ke saare characters digits hain, isliye isdigit() method True return karta hai.

```python
text = "abc123"

if text.isdigit():
    print("This string contains only digits.")
else:
    print("This string contains non-digit characters.")
```
Output: `This string contains non-digit characters.`
* Yahaan string "abc123" mein letters hain, isliye isdigit() method False return karta hai.

```python
num_with_space = "123 456"

if num_with_space.isdigit():
    print("This string contains only digits.")
else:
    print("This string contains non-digit characters.")
```
Output: `This string contains non-digit characters.`

* Yahaan string "123 456" mein space ( ) hai, isliye isdigit() method False return karta hai.

```python
num_with_special = "123-456"

if num_with_special.isdigit():
    print("This string contains only digits.")
else:
    print("This string contains non-digit characters.")
```

Output: `This string contains non-digit characters.`

* Yahaan string "123-456" mein hyphen (-) hai, isliye isdigit() method False return karta hai.

***Limitations***
* isdigit() method sirf standard digits (0-9) ko recognize karta hai. Yeh negative numbers, decimal points, ya fractions ko handle nahi karta.
* Negative sign (-), decimal point (.), aur other non-digit characters hone par yeh False return karega.

***Summary***
* isdigit(): String method jo check karta hai ki string mein sirf digits hain ya nahi.
* Returns True agar saare characters digits hain, warna False.